.a{
    height: 100vh;
    display: flex;
    align-items: center;
}
.a-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}
.a-right{
    flex: 1;
    padding-right: 35px;
}
.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgb(96, 95, 95);
  }
  
  .a-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
  }
  .a-card.me{
    position: absolute;
    top: 100px;
    left: 100px;
  }

  .a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .a-desc{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 300;
  }
  .a-sub{
    margin-top: 20px;
  }
  .a-title{
    font-weight: 400;
  }
.ach{
    display: flex;
    height: 60px;
    width: 100%;
    margin: 10px 0px;
    align-items: center;
}
.ach-img{
    height: 100%;
    width: 60px;
    object-fit: cover;
}
.ach-texts{
    margin: 0px 50px;
}
.ach-text{
    font-weight: 400;
}
.ach-subtext{
    font-weight: 300;
}