.t{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.t-btn{
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0;
    border-radius: 50px;
    background-color: #999;
    z-index: 4;
    cursor: pointer;
}